[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "test-pypi"

[packages]
"regula.documentreader.webclient" = {editable = true,path = "./.."}

[requires]
python_version = "3.5"
